:root[data-theme="skarline-xcode-presentation-darker"] {
  --bg: #202025;
  --bg-rgb: 32, 32, 37;
  --fg: #ffffff;
  --muted: #a6a6a8;
  --border: #38383d;
  --accent: #009aff;
  --surface: #1c1c21;
  --surface-hover: #3d3d42;
  --shadow-soft: 0 1px 2px rgba(0, 0, 0, 0.42), 0 2px 8px rgba(0, 0, 0, 0.25);
  --color-error: #ff5e4a;
  --backdrop: rgba(0, 0, 0, 0.52);
  --shadow-color: 0, 0, 0;
  --syntax-keyword: #f7439d;
  --syntax-string: #ff5f63;
  --syntax-number: #ffea80;
  --syntax-type: #dabaff;
  --syntax-function: #64d7c0;
  --syntax-operator: #ffffff;
  --syntax-comment: #7f8c99;
  --syntax-constant: #63d7c0;
  color-scheme: dark;
}
