:root[data-theme="skarline-xcode-low-key"] {
  --bg: #ffffff;
  --bg-rgb: 255, 255, 255;
  --fg: #000000;
  --muted: #666666;
  --border: #d6d6d6;
  --accent: #0091ff;
  --surface: #f7f7f7;
  --surface-hover: #f1f1f1;
  --shadow-soft: 0 1px 2px rgba(0, 0, 0, 0.06), 0 2px 8px rgba(0, 0, 0, 0.05);
  --color-error: #ff543e;
  --backdrop: rgba(0, 0, 0, 0.22);
  --shadow-color: 0, 0, 0;
  --syntax-keyword: #323e7d;
  --syntax-string: #853e64;
  --syntax-number: #323e7d;
  --syntax-type: #587ea8;
  --syntax-function: #587ea8;
  --syntax-operator: #000000;
  --syntax-comment: #546348;
  --syntax-constant: #587ea8;
  color-scheme: light;
}
